.uplot .cursor-vt,
.uplot .cursor-hz {
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
	will-change: transform;
	z-index: 100;
}

.uplot .cursor-vt {
	height: 100%;
	border-right: 1px dashed #607D8B;
}

.uplot .cursor-hz {
	width: 100%;
	border-bottom: 1px dashed #607D8B;
}

.uplot .title {
	text-align: center;
	padding: 16px;
	font-size: 18px;
	font-weight: bold;
}

.uplot .wrap {
	position: relative;
}

.uplot,
.uplot .plot {
	position: relative;
	display: inline-block;
}

.uplot .plot {
	outline: 1px solid silver;
	overflow-y: hidden;
	overflow-x: hidden;
	user-select: none;
}

.uplot canvas {
	display: block;
}

.uplot .legend {
	font-size: 14px;
	margin: auto;
	text-align: center;
}

.uplot .legend.inline {
	display: block;
}

.uplot .legend.inline * {
	display: inline-block;
}

.uplot .legend.inline tr {
	margin-right: 16px;
}

.uplot .legend th {
	font-weight: 600;
}

.uplot .legend .series th:hover {
	text-decoration: underline;
}

.uplot .legend.inline th::after {
	content: ":";
}

.uplot .legend .series > * {
	padding: 4px;
}

.uplot .legend .series th {
	cursor: pointer;
}

.uplot .legend .off > * {
	color: silver !important;
}

.uplot .zoom {
	background: rgba(0,0,0,0.07);
	height: 100%;
	position: absolute;
	top: 0;
	pointer-events: none;
}

.uplot .point {
	width: 5px;
	height: 5px;
	margin-left: -2px;
	margin-top: -2px;
	border-radius: 5px;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	user-select: none;
	will-change: transform;
	z-index: 100;
}

.uplot .x-labels-0,
.uplot .x-labels-2,
.uplot .y-labels-1,
.uplot .y-labels-3 {
	text-align: center;
	position: absolute;
	font-size: 12px;
}

.uplot .x-labels-0 > *,
.uplot .x-labels-2 > *,
.uplot .y-labels-1 > *,
.uplot .y-labels-3 > * {
	padding-top: 6px;
	font-weight: bold;
}

.uplot .x-values-0,
.uplot .x-values-2,
.uplot .y-values-1,
.uplot .y-values-3 {
	position: absolute;
}

.uplot .y-values-1,
.uplot .y-values-3 {
	top: 0;
	height: 100%;
}

.uplot .x-values-0 > *,
.uplot .x-values-2 > * {
	position: absolute;
	transform: translateX(-50%);
	font-size: 12px;
	white-space: pre-line;
	text-align: center;
	height: 100%;
}

.uplot .x-values-0 > * {
	padding-top: 10px;
}

.uplot .x-values-2 > * {
	padding-bottom: 10px;
}

.uplot .x-values-0 > *::before,
.uplot .x-values-2 > *::before {
	content: "";
	height: 10px;
	border-left: 2px solid #eee;
	transform: translateX(-50%);
	position: absolute;
	left: 50%;
	z-index: -1;
}

.uplot .x-values-0 > *::before {
	top: 0;
}

.uplot .x-values-2 > *::before {
	bottom: 0;
}

.uplot .y-values-1 > *,
.uplot .y-values-3 > * {
	position: absolute;
	transform: translateY(-50%);
	font-size: 12px;
	white-space: pre-line;
	width: 100%;
}

.uplot .y-values-1 > * {
	padding-right: 10px;
	text-align: right;
}

.uplot .y-values-3 > * {
	padding-left: 10px;
	text-align: left;
}

.uplot .y-values-1 > *::before,
.uplot .y-values-3 > *::before {
	content: "";
	width: 10px;
	border-top: 2px solid #eee;
	transform: translateY(-50%);
	position: absolute;
	top: 50%;
	z-index: -1;
}

.uplot .y-values-1 > *::before {
	right: 0;
}

.uplot .y-values-3 > *::before {
	left: 0;
}