.vt,
.hz {
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
	will-change: transform;
	z-index: 100;
}

.vt {
	height: 100%;
	border-right: 1px solid #ddd;
}

.hz {
	width: 100%;
	border-bottom: 1px solid #ddd;
}

.chart, .plot {
	position: relative;
	display: inline-block;
}

.plot {
	outline: 1px solid silver;
}

.chart canvas {
	display: block;
}

.legend {
	position: absolute;
	bottom: 100%;
	right: 0;
	padding: 8px;
}

.legend > * {
	display: inline-block;
	margin-right: 20px;
}

.region {
	background: rgba(0,0,0,0.07);
	height: 100%;
	position: absolute;
	top: 0;
	pointer-events: none;
}

.info {
	white-space: pre;
	font-size: 12px;
	font-family: monospace;
	position: absolute;
	bottom: 100%;
	left: 0;
	pointer-events: none;
	user-select: none;
}

.dot {
	width: 5px;
	height: 5px;
	margin-left: -2px;
	margin-top: -2px;
	border-radius: 5px;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	user-select: none;
	will-change: transform;
	z-index: 100;
}

.x-labels,
.y-labels {
	position: absolute;
}

.y-labels {
	top: 0;
	height: 100%;
}

.x-labels > * {
	position: absolute;
	transform: translateX(-50%);
	font-size: 12px;
	white-space: pre-line;
	text-align: center;
}

.y-labels > * {
	position: absolute;
	transform: translateY(-50%);
	font-size: 12px;
	white-space: pre-line;

	text-align: right;
	width: 100%;
}